@import "../../breakpoints";

ul,
li {
  list-style: none;
  padding: 0px;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100dvh;
  background: var(--gradientPrimary);

  box-sizing: border-box;
  text-align: center;
}

.locationImg {
  width: 22px;
  height: 26px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  padding: 75px;
  max-height: 100px;

  @media (max-width: $tablet) {
    padding: 20px;
  }
}

.location {
  width: 100%;

  &__city {
    margin-bottom: 9px;
    font-size: 50px;
    line-height: 60px;
    color: var(--base-white);
  }

  &__change {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--base-white);
    mix-blend-mode: normal;
    text-decoration: none;
    margin-right: 20px;
    opacity: 0.6;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  &__my {
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    width: 185px;
    height: 22px;
    color: var(--base-white);
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

.deg {
  display: flex;

  height: 28px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  margin-top: 6px;

  &__itemС_activ {
    color: var(--base-white);
    padding: 3px 13px 3px 13px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    opacity: 1;
  }

  &__itemF_activ {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: var(--base-white);
    opacity: 1;
    padding: 3px 13px 3px 13px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
  }

  &__itemС {
    padding: 3px 13px 3px 13px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    opacity: 0.4;
  }

  &__itemF {
    padding: 3px 13px 3px 13px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    opacity: 0.4;
  }

  &__item:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    opacity: 1;
  }

  &::before {
    content: "o";
    position: absolute;
    font-size: 10px;
    opacity: 0.4;
    top: 0;
    left: -15px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  flex: 1 0 auto;

  padding-bottom: 150px;

  @media (max-width: $mobile-md) {
    padding-bottom: 40px;
  }

  &__num {
    font-size: 180px;
    line-height: 216px;
    position: relative;
    color: var(--base-white);

    @media (max-width: $mobile-md) {
      font-size: 120px;
      line-height: 140px;
    }

    &__num::after {
      content: "o";
      position: absolute;
      font-size: 90px;
      top: -50px;
      color: var(--base-white);
    }
  }

  &__descr {
    color: var(--base-white);
  }

  &__descr:first-letter {
    margin-bottom: 218px;
    font-size: 25px;
    line-height: 30px;
    opacity: 0.8;
    text-transform: inherit;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 100px;
  gap: 15px;
  justify-items: center;

  @media (max-width: $tablet) {
    padding: 20px;
  }

  @media (max-width: $mobile-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 350px) {
    grid-template-columns: 1fr;
  }
}

.arg {
  margin-bottom: 10px;
  opacity: 0.6;
  color: var(--base-white);
}

.val {
  font-size: 25px;
  line-height: 30px;
  color: var(--base-white);
  font-size: 12px;
}

.imgWeather {
  width: 138px;
  height: 138px;
}

.tempImg {
  display: inline-block;
  margin: 0 auto;
}

.locationCont {
  display: flex;
}

.btnCont {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 150px;
}

.input-container {
  display: flex;
  justify-content: center;
}
