body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

:root {
  --tablet: 160px;
}

@media (--tablet) {
}

:root {
  --primary-25: #ecf3fd;
  --primary-50: #bbd0ec;
  --primary-100: #95b4e0;
  --primary-200: #7da6e0;
  --primary-300: #5d91da;
  --primary-400: #5085cf;
  --primary-500: #498cec;
  --primary-600: #1158bb;
  --primary-700: #0c3f88;
  --primary-800: #072958;
  --primary-900: #031835;

  --danger-25: #fffbfa;
  --danger-50: #fef3f2;
  --danger-100: #fee4e2;
  --danger-200: #fecdca;
  --danger-300: #fda29b;
  --danger-400: #f97066;
  --danger-500: #f04438;
  --danger-600: #c41b0f;
  --danger-700: #8a130a;
  --danger-800: #4f0b06;
  --danger-900: #3b0804;

  --success2-25: #f6fef9;
  --success2-50: #ecfdf3;
  --success2-100: #d1fadf;
  --success2-200: #a6f4c5;
  --success2-300: #6ce9a6;
  --success2-400: #32d583;
  --success2-500: #12b76a;
  --success2-600: #039855;
  --success2-700: #027a48;
  --success2-800: #05603a;
  --success2-900: #054f31;

  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  --gradientPrimary: linear-gradient(45deg, #1158bb, #95b4e0);
  --baseGradient: rgba(0, 0, 0, 0.4);

  --base-white: #ffffff;
  --base-black: #000000;

  --smallCorner: 12px;
  --mediumCorner: 16px;
  --bigCorner: 20px;
  --superbCorner: 30px;
}

/* fonts */

@font-face {
  font-family: "Mont-Regular";
  src: url("/src/assets/fonts/Mont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/src/assets/fonts/Mont-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Mont-Bold";
  src: url("/src/assets/fonts/Mont-Bold.ttf") format("truetype");
}

/* global test styles with classnames */

.textstyles--XLcaption {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 2px;
}

.textstyles--h1 {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 1px;
}

.textstyles--h2 {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 1px;
}

.textstyles--h3 {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.textstyles--h4 {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.textstyles--h4Crossed {
  font-family: "Mont-Bold";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: line-through;
}

.textstyles--buttonText {
  font-family: "Mont-SemiBold";
  font-weight: 500;
  font-size: 16px;
}

.textstyles--bodyL {
  font-family: "Mont-Regular";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.textstyles--bodyLLink {
  font-family: "Mont-Regular";
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

.textstyles--bodyM {
  font-family: "Mont-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.textstyles--bodyMLink {
  font-family: "Mont-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.textstyles--bodyMCrossed {
  font-family: "Mont-Regular";
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}

.textstyles--bodyCaption {
  font-family: "Mont-SemiBold";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.textstyles--smallCaption {
  font-family: "Mont-SemiBold";
  font-weight: 700;
  font-size: 12px;
}

.textstyles--mini {
  font-family: "Mont-SemiBold";
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.5px;
}
